h2 {
    color: dodgerblue;
}

h3 {
    color: darkslategrey;
}

h4 {
    color: hwb(0 16% 84%);
}

p {
    color: #333333;
}

@media screen and (min-width: 600px) {
    article {
        float: left;
        width: 68%;
    }

    aside {
        float: right;
        width: 30%;
    }
}